body{
    background-color: #3EB1FF;
}

.container {
    text-align: center;
    color: #3EB1FF;
    font-family: "copperplate";

}

.jumbotron {
    background: white;
    opacity: 1;
    color: #3EB1FF;
    margin-bottom: 10px;
    font-size: 50px;
}


p {
  font-family: 'Inconsolata';
  font-size: 20px;
  color: white;
  line-height: 30px;
}

a {
  color: white;
  text-decoration: none;
}
