body{
    background-color: #3EB1FF;
}

.container {
    text-align: center;
    margin: 100px auto;
    max-width: 560px;

}


h3 {
  color: white;
}

h1 {
    color: white;
}

a {
  color: white;
  text-decoration: underline;
}
